<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to user_path(user.username) do %>
    <%= image_tag user.avatar.url, class: "img-responsive" %>
    <% end %>
    <div class="caption text-center">
      <h3><%= user.username %></h3>
      <button class="btn btn-success btn-sm"><%= friendship_status_button(user) %></button>
    </div>
  </div>
</div>
