body {
  padding-top: 54px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #fff;
}

.navbar-default {
  background-color: darken(#19b698, 10%);
  border-color: #19b698;

  .badge {
    background-color: #c0392b;
    position: relative;
    left: 3px;
  }

  .navbar-brand {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }

  .navbar-nav > li.active {
    margin-top: 10px;
  }

  .navbar-nav > .active > a {
    color: #fff;
    padding: 4px 10px;
    border: 1px solid #fff;
    background-color: transparent;

    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
    }
  }

  .navbar-nav > li > a {
    color: #fff;

    &:hover, &:focus, &:active {
      color: #fff;
    }
  }

  .nav-profile-pic {
    height: 45px;
    margin-top: 3px;
    margin-left: 10px;
  }

  .dropdown-toggle {
    padding: 0;
  }

  .dropdown-menu {
    margin-top: 3px !important;

    .divider {
      margin: 5px 0;
    }
  }
}

.alert {
  position: absolute;
  right: 0;
  width: 400px;
  text-align: center;
  z-index: 99;
  font-weight: bold;
}

.vh-center {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-width {
  width: 500px;
}

.submit-btn.btn-default {
  width: 100%;
  color: #fff;
  background-color: #16a085;

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #16a085;
  }
}